# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
*.log
.DS_Store
.env
.env.local
node_modules/

# Do NOT ignore web/ folder
# web/ is needed for Vercel Flutter web deploy
.vercel
.env*.local
